@import "~materialize-css/dist/css/materialize.min.css";

.border {
    border: 1px solid black;
}
.w-100{
    width: 100%;
}

.border-radius {
    border-radius: 15px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

html{
    overflow-x: hidden;
}

.mr{
    margin-right: 1rem;
}

.ml {
    margin-left: 1rem;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.w-50{
    width: 50%;
}

.pt-100{
    padding-top: 100px;
}

.pt-60{
    padding-top: 60px;
}

.block{
    display: block;
}

.card-description {
    width: content-box;
}

nav {
    position: fixed;
    z-index: 50;
}

nav .nav-wrapper {
    padding: 0 2em;
}

nav .nav-wrapper .brand-logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100%;
}

.nav_gradient {
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.btn {
    z-index: auto;
}
.icon_blc{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #6f6f6f;
    margin-right: 2rem;
}
.icon_blc i:hover{
    color: #00bcd4;
}
.icon_blc i.active{
    color: #00bcd4;
}
.price {
    margin-bottom: 0;
    font-size: 2vw;
    font-weight: bold;
    margin-right: 10px;

}
.cardBox{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    padding: 2em;
}
.cardBox .slider .carousel-row>div{
    display: flex!important;
    justify-content: center;
}
.cardBox .slider{
    height: auto;
}
.card .card-content .card-title{
    font-size: 15px;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-weight: 500;
    height: 90px;
    overflow: hidden;
}

.divider {
    margin: 20px 0;
}

.menu_wrapper a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.uploadImg {
    height: 250px;
    width: auto;
}
#dropArea {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}
#dropArea.highlight {
    border-color: purple;
}
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    margin: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}

.admin_form {
    width: 100%;
    padding: 2em;
    border: 1px solid darkcyan;
    border-radius: 10px;
}

.card_btn_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card .card-image {
    position: relative;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.likes_wrapper {
    display: flex;
    align-items: center;
}

.detail_title {
    line-height: 120%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}
.action_btn_wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}
.desc_block{
    display: flex;
    flex-direction: row;
}

.price_wrapper{
    display: flex;
    flex-direction: column;
}

.wrapper{
    display: flex;
}

.divider_padding{
    padding: 0 2px;
}

.paypal_link{
    height: 60px;
}

.paypal_link img{
    padding-top: 1rem;
    width: 100%;
}

input[type=email]:not(.browser-default),
input[type=email]:not(.browser-default):focus,
input[type=email]:not(.browser-default):active,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default):active,
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default),
input[type=password]:not(.browser-default):focus,
input[type=password]:not(.browser-default):active,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default):active,
input[type=password]:not(.browser-default):focus:not([readonly]),
input:-internal-autofill-selected
{
    padding: 15px 19px;
    font-size: .8571em;
    border-radius: 30px;
    color: #2c2c2c;
    height: auto;
    line-height: normal;
    border: 1px solid grey;
    background-color: transparent;
    box-shadow: none;
}

.auth_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth_container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.auth_container .card .card-content{
    padding: 15px;
    width: 80%;
}

.first_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
}

.card_link{
    text-decoration: none;
    color: initial;
}

.carousel_form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.slideWrapper{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.carousel .slide .slideWrapper img {
    max-height: 400px;
    height: auto;
    width: auto;
}

.carousel .slide {
    background: transparent!important;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot{
    width: 20px;
}
.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover{
    width: 20px;
}

.carousel_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    width: 90vw;
    height: 400px;
    background-color: lightgrey;
    border-radius: 10px;
}

.loader_image{
    width: 400px;
    height: 200px;
    background-color: grey;
    border-radius: 10px;
}

.carousel_loader{
    -webkit-animation: shine 3s linear infinite normal;
    animation: shine 3s linear infinite normal;
}

.search_input {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_input i{
    padding: 0.5rem;
}

.search_input label{
    width: 100%;
    padding: 0.5rem;
}

.chips_filter_blc {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    flex-wrap: wrap;
}

.welkome_blc {
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    height: 5rem;
    line-height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ffd194, #70e1f5);
}

.welkome_blc img {
    position: absolute;
    left: 50px;
    top:20px;
    width: 100px;
    height: 100px;
}
.user_blc_wrapper {
    min-height: 80vh;
    width: 100%;
}

.personal_info {
    margin: 1em 1em 0 1em; 
    box-shadow: 1px 5px 11px 1px grey;
}

.info_title{
    font-weight: 500;
    text-transform: uppercase;
    padding: 1em 2em;
    color: gray; 
}

.welkome_blc .info_title {
    margin: 0;
    font-size: 20px;
    color: darkslategrey;
}

@keyframes shine{
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    50%{
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    100%{
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}
@-webkit-keyframes shine {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    50%{
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    100%{
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}




footer {
    position: fixed;
    bottom: 0;
}

@media (max-width: 992px) {
    .cardBox {
        flex-direction: column;
        padding: 1em;
    }
    .cardBox .slider .carousel-item {
        width: 100%!important;
    }
    .cardBox .slider .carousel-initialized{
        padding: 0!important;
    }
}

@media (max-width: 768px) {
    .card .card-image {
        height: 250px;
    }
    .action_btn_wrapper{
        flex-direction: column;
    }
    .price {
        font-size: 16px;
    }
    .price_wrapper{
        flex-direction: row;
        padding-bottom: 1rem;
    }
    .desc_block{
        flex-direction: column;
    }
    .w-50{
        width: 100%;
    }
    footer img{
        width: 60vw;
    }
    .auth_container .card {
        width: 90vw;
    }
}